<main class="form-signin">
<div class="text-center">
<h2 class="h3 mb-3 fw-normal">Регистрация</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <label for="inputEmail" class="visually-hidden">Email</label>
    <%= f.email_field :email, class: "form-control border_color rounded", autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, class: "form-control border_color rounded", autocomplete: "new-password", placeholder: "Пароль (не меньше 6 символов)" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, class: "form-control border_color rounded", autocomplete: "new-password", placeholder: "Подтвердить пароль" %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегестрироваться", class: "w-100 btn btn-lg btn-primary rounded-pill custom_color", type:"submit" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>

  <img src="/images/регистрация.png" alt="" class="img-fluid me-2 d-block mx-auto" width="300" height="300">

</main>
</div>
