<% set_meta_tags title: @action + ' новость', description: 'Новости' %>
<% set_meta_tags og: {
  title: ['Новости']
} %>

<h1 class="h3 mb-4 fw-normal text-center"><%= @action %> новость </h1>

<%= form_with(model: @promo, local: true) do |form| %>
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= form.text_field :title, class: "form-control border_color", placeholder: "Название" %>
      </div>
      <div class="field">
        <%= form.label :image, "Изображение" %>
        <%= form.file_field :image, class: "form-control border_color rounded" %>
      </div>
      <div class="field">
        <%= form.label :tag_list, "Теги" %>
        <%=
          form.text_field :tag_list,
                          class: "form-control border_color rounded",
                          value: @promo.send(:tag_list).to_s,
                          placeholder: 'rails, development'
        %>
      </div>

    </div>
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= form.cktext_area :content %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit @action, class: "btn btn-lg btn-primary rounded-pill custom_color" %>
    <%= link_to 'Вернуться', :back, class: "btn btn-lg btn-primary rounded-pill custom_color" %>
  </div>

<% end %>
