<% set_meta_tags title: @promo.title, description: 'Новости' %>
<% set_meta_tags og: {
  title: ['Новости']
} %>

<h1 class="h3 mb-4 fw-normal text-center">
  <%= @promo.title %>
  <% if user_signed_in? %>
    <% if current_user.isadmin %>
      <%= link_to(icon("fas", "pencil-alt"), edit_promo_path(@promo), class: "h6") %>
      <%= button_to(promo_path, class: "link-btn h6", method: :delete) do %>
        <%= icon("far", "trash-alt") %>
      <% end %>
    <% end %>
  <% end %>
</h1>

<div class="row mb-2">
  <div class="col-md-4 col-sm-12 mb-2 h6">
    <%= image_tag(@promo.image.url, class: "img-fluid") if @promo.image? %>
  </div>

  <div class="col-md-8 col-sm-12 mb-2">
    <p><%= @promo.content.html_safe %></p>
    <p>
      <strong>Автор:</strong>
      <%= link_to(User.find(@promo.user_id).email, user_path(@promo.user_id), class: "text-dark") %>
    </p>
    <% if @promo.tags %>
      <p>
        <strong>Теги:</strong>
        <%= @promo.tags.join(", ") %>
      </p>
    <% end %>
  </div>
</div>
