<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.text_field :name, class: "form-control border_color", placeholder: "Название"  %>
  </div>

<div class="field">
<%= form.text_field :title, class: "form-control border_color", placeholder: "Титул" %>
</div>


<div class="field">
  <%= form.text_field :author1, class: "form-control border_color", placeholder: "Автор"  %>
</div>

  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle custom_color" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      <%= form.label :category_id %>
      <%= form.select :category_id, Category.pluck(:name, :id) %>
    </button>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%# <%= link_to(image_tag(@post.image.thumb.url, alt: 'Image'), @post.image.url, target: '_blank') if @post.image? %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.cktext_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
