<% set_meta_tags title: 'Обучение', description: 'Обучение' %>
<% set_meta_tags og: {
  title: ['Обучение']
} %>
<h1>Обучение</h1>

<h3><%= params[:category] ? Category.find(id = params[:category]).name : "Все статьи" %> </h3>

<div class="d-flex justify-content-between flex-wrap mb-4 align-items-start">
  <nav class="my-1">
    <ul class="pagination d-flex align-content-start flex-wrap">
      <li class="page-item"><%= link_to 'Все', posts_path, class: "page-link text-decoration-none px-3 py-2" %></li>
      <% Category.all.each do |cat| %>
        <li class='<%= params[:category].to_i == cat.id_in_database.to_i ? "page-item active" : "page-item" %>'> <%= link_to cat.name, posts_path(category: cat.id), class: "page-link text-decoration-none px-3 py-2" %></li>
      <% end %>
    </ul>
  </nav>

  <div class="d-flex justify-content-end my-1">
    <div class="search posts-search">
      <%= form_tag posts_path, html: { class: "me-3" }, method: :get do %>
        <%= icon("fas", "search") %>
        <%= text_field_tag :starts_with, params[:starts_with], class: "form-control border-end-0 border", placeholder: "Поиск.." %>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to('Добавить', new_post_path, class: "btn custom_color ms-2 shadow-sm") %>
      <% end %>
      </div>

</div>

<div class="row row-cols-md-4 row-cols-sm-1 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card h-100 shadow-sm rounded">
        <%= link_to(image_tag(post.image.url, class: "card-img-top"), post) %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post, class: "text-dark" %></h5>
          <div>
            <%= post.category.name %>
            <p><%= post.content.truncate(120, omission: '...').html_safe %></p>
          </div>
        </div>
        <div class="card-body tags pt-0 pb-1">
          <% post.tags.each do |tag| %>
            <span> <%= tag %></span>
          <% end %>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <div>
            <span class="me-1"><%= post.likes.count %> <%= icon("far", "heart") %></span>
            <span><%= post.comments.count %> <%= icon("far", "comments") %> </span>
          </div>
          <div>
            <% if user_signed_in? %>
              <% if post.user_id == current_user.id or current_user.isadmin %>
                <%= link_to(icon("fas", "pencil-alt"), edit_post_path(post), class: "me-1", title: "Редактировать") %>
                <%= button_to(post_path(post), method: :delete, class: "link-btn me-1", title: "Удалить") do %>
                  <%= icon("fas", "trash-alt") %>
                <% end %>
                <% if post.is_published %>
                  <%= button_to(update_published_post_path(post), method: :put, class: "link-btn me-1", title: "Снять с публикации") do %>
                    <%= icon("fas", "ban") %>
                  <% end %>
                <% else %>
                  <%= button_to(update_published_post_path(post), method: :put, class: "link-btn me-1", title: "Опубликовать") do %>
                    <%= icon("far", "check-circle") %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
