<p id="notice"><%= notice %></p>
<div class="posts22"><h1>Посты</h1></div>
<div class="telo2">
<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Заголовок</th>
      <th>Автор</th>
      <th>Контент</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="telo2">
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= link_to 'Показать', post %></td>
        <td><%= link_to 'Изменить', edit_post_path(post) %></td>
        <td><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</div>
    <div class="block"></div>
  </tbody>
</table>

<br>

<div class="button3"><%= link_to 'Новый пост', new_post_path %></div>
