<h1>Обучение</h1>
<h3>Все статьи</h3>

<% Category.all.each do |cat| %>
  <%= link_to cat.name, posts_path(category: cat.name) %> <br>
<% end %>

<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :starts_with, params[:starts_with] %>
    <%= submit_tag "Поиск", :name => nil %>
  </p>
<% end %>

<div class="row row-cols-4 row-cols-md-12 g-4">
  <% @posts.each do |post| %>
    <div class="col">
      <div class="card h-100">
        <img src="<%= post.image %>" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <div>
            <%= post.name %>
            <%= post.title %>
            <%= post.category.name %>
            <%= post.content.html_safe %>
            <div>
              <span class="me-2"><%= post.likes.count %> <i class="far fa-heart"></i></span>
              <span><%= post.comments.count %> <i class="far fa-comments"></i></span>
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to 'Показать', post, class: "btn btn-sm btn-outline-secondary custom_color" %>
          <% if user_signed_in? %>
            <% if post.user_id == current_user.id or current_user.isadmin %>
              <%= link_to 'Изменить', edit_post_path(post), class: "btn btn-sm btn-outline-secondary custom_color" %>
              <%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' }, class: "btn btn-sm btn-outline-secondary custom_color" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% if user_signed_in? %>
  <%= link_to 'Новый пост', new_post_path %>
  <br>
  <% if current_user.isadmin %>
    <%= link_to 'Новая категория', new_category_path %>
  <% end %>
<% end %>