<h1 class="h3 mb-4 fw-normal text-center"><%= @action %> статью </h1>

<%= form_with(model: @post, local: true) do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2><%= pluralize(post.errors.count, "error") %> </h2>
      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= form.text_field :name, class: "form-control border_color", placeholder: "Название" %>
      </div>
      <div class="field">
        <%= form.text_field :title, class: "form-control border_color", placeholder: "Титул" %>
      </div>
      <div class="field">
        <%= form.text_field :author1, class: "form-control border_color", placeholder: "Автор" %>
      </div>
      <div class="field">
        <%= form.label :category_id, "Категория" %>
        <%= form.select(:category_id, Category.pluck(:name, :id), {}, { class: "form-select border_color" }) %>
      </div>
      <div class="field">
        <%= form.label :image, "Изображение" %>
        <%= form.file_field :image, class: "form-control border_color rounded" %>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="field">
        <%= form.cktext_area :content %>
      </div>
    </div>
  </div>

  <div class="actions">
    <%= form.submit @action, class: "btn btn-lg btn-primary rounded-pill custom_color" %>
    <%= link_to 'Вернуться', :back, class: "btn btn-lg btn-primary rounded-pill custom_color" %>
  </div>

<% end %>
