<% set_meta_tags title: @post.title, description: 'Обучение' %>
<% set_meta_tags og: {
  title: ['Обучение']
} %>

<h1 class="h3 mb-4 fw-normal text-center">
  <%= @post.title %>
  <% if user_signed_in? %>
    <% if @post.user_id == current_user.id or current_user.isadmin %>
      <%= link_to(icon("fas", "pencil-alt"), edit_post_path(@post), class: "h6") %>
      <%= button_to(post_path, class: "link-btn h6", method: :delete) do %>
        <%= icon("far", "trash-alt") %>
      <% end %>
      <% if current_user.isadmin %>
        <% if @post.is_published %>
          <%= button_to(update_published_post_path(@post), method: :put, class: "link-btn h6", title: "Снять с публикации") do %>
            <%= icon("fas", "ban") %>
          <% end %>
        <% else %>
          <%= button_to(update_published_post_path(@post), method: :put, class: "link-btn h6", title: "Опубликовать") do %>
            <%= icon("far", "check-circle") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</h1>

<div class="row mb-2">
  <div class="col-md-4 col-sm-12 mb-2 h6">
    <%= image_tag(@post.image.url, class: "img-fluid") if @post.image? %>
    <div class="d-flex justify-content-center mt-2">
      <% if user_signed_in? %>
        <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
        <% pre_favorite = @post.favorites.find { |favorite| favorite.user_id == current_user.id } %>

        <% if pre_like %>
          <%= button_to post_like_path(@post, pre_like), class: "link-btn text-decoration-none", method: :delete do %>
            <span class="me-3"><%= @post.likes.count %> <%= icon("fas", "heart", class: "liked") %></span>
          <% end %>
        <% else %>
          <%= button_to post_likes_path(@post), class: "link-btn text-decoration-none", method: :post do %>
            <span class="me-3"><%= @post.likes.count %> <%= icon("far", "heart") %></span>
          <% end %>
        <% end %>

        <% if pre_favorite %>
          <%= button_to post_favorite_path(@post, pre_favorite), class: "link-btn text-decoration-none", method: :delete do %>
            <span class="me-3"><%= icon("fas", "far fa-bookmark", class: "favorited") %></span>
          <% end %>
        <% else %>
          <%= button_to post_favorites_path(@post), class: "link-btn text-decoration-none", method: :post do %>
            <span class="me-3"><%= icon("far", "far fa-bookmark") %></span>
          <% end %>
        <% end %>

      <% else %>

        <span class="me-1"><%= @post.likes.count %> <%= icon("far", "heart") %></span>
        <span><%= icon("far", "far fa-bookmark") %> </span>
      <% end %>
    </div>

  </div>

  <div class="col-md-8 col-sm-12 mb-2">
    <p><%= @post.content.html_safe %></p>
    <span>
      <strong>Категория:</strong>
      <%= @post.category.name %>
    </span>
    <p>
      <strong>Автор:</strong>
      <%= link_to(User.find(@post.user_id).email, user_path(@post.user_id), class: "text-dark") %>
    </p>
    <% if @post.tags %>
      <p>
        <strong>Теги:</strong>
        <%= @post.tags.join(", ") %>
      </p>
      <%= link_to 'Пройти тест', bonuses_info_path, class: "link-secondary btn btn-lg btn-primary custom_color2" %>
    <% end %>
  </div>
</div>
<div class="row d-flex justify-content-center">
  <div class="col-md-12">
    <div class="headings d-flex justify-content-between align-items-center mb-3">
      <h5>Комментарии</h5>
    </div>
    <%= render @post.comments %>
  </div>
</div>
<div class="row mt-4">
  <% if user_signed_in? %>
    <%= form_for([@post, @post.comments.build]) do |f| %>
      <div class="field">
        <%= f.text_area :body, class: "form-control border_color mb-1", placeholder: "Ваш комментарий" %>
      </div>
      <div class="actions">
        <%= f.submit "Оставить комментарий", class: "btn btn-lg btn-primary custom_color" %>
      </div>
    <% end %>

  <% else %>
    <p>Пожалуйста, <%= link_to 'войдите', new_user_session_path %>
      или <%= link_to 'зарегистрируйтесь', new_user_registration_path %> для того,
      чтобы оставить комментарий</p>
  <% end %>
</div>
