<% set_meta_tags title: 'Категории', description: 'Категории' %>

<% unless notice.nil? %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<table class="table table-bordered">
  <caption>Все категории статей</caption>
  <thead class="table-light">
  <tr>
    <th>Название</th>
    <th>Заметка</th>
    <th class="text-center">Отобразить в меню?</th>
    <th colspan="2" class="text-center">Действия</th>
  </tr>
  </thead>

  <tbody>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="text-center"><%= category.display_in_navbar ? icon("fas", "check") : icon("fas", "times") %></td>
      <td class="text-center"><%= link_to(icon("fas", "pencil-alt"), edit_category_path(category)) %> </td>
      <td class="text-center">
        <%= button_to(category, class: "link-btn", method: :delete) do %>
          <%= icon("far", "trash-alt") %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to(icon('fas', 'plus', 'Новая категория'), new_category_path, class: "btn custom_color ms-2 shadow-sm") %>
