<!DOCTYPE html>
<html class="h-100" lang="ru">
<head>
  <%= csrf_meta_tags %>
  <%#= csp_meta_tag %>
  <%= display_meta_tags(default_meta_tags) %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
</head>

<body class="d-flex flex-column h-100">
<%= react_component 'organisms/header/Header', menuItems: menu_navs, menuActions: menu_actions %>

<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>


<main class="flex-shrink-0">
  <div class="container mb-5">
    <%= yield %>
  </div>
</main>

<footer class="pt-4 mt-auto border-top px-md-4 color_footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md">
        <ul class="list-unstyled text-small">
          <li><a class="link-secondary text-light" href="#">О нас</a></li>
          <li><a class="link-secondary text-light" href="#">Присоединиться</a></li>
          <li><a class="link-secondary text-light" href="#">Конфиденциальность</a></li>
          <li><a class="link-secondary text-light" href="#">Наша команда</a></li>
        </ul>
        <small class="d-block mb-3 text-light">© 2021 Фёрстдог</small>
      </div>
      <div class="col-6 col-md">
        <h5>Связаться с нами</h5>
        <ul class="list-unstyled text-small">
          <li class="link-secondary">+7 906 730 48 46</li>
          <li class="link-secondary">first@dog.ru</li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Подписаться на рассылку</h5>
        <%= render 'subscribers/form' %>
        <br>
        <%= image_tag "icon_inst.png", size: "40x100", class: "img-fluid col-md" %> <%= image_tag "icon_facebook.png", size: "40x100", class: "img-fluid col-md" %> <%= image_tag "icon_youtube.png", size: "40x100", class: "img-fluid col-md" %>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
