<!DOCTYPE html>
<html lang="ru">
<head>
  <title>Playground</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'welcome', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'subscribers', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'promo', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'posts', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'comments', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'about', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag Ckeditor.cdn_url %>
</head>

<body>
<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
  <img src="/images/sss.png" alt="" width="24" height="30">
  <p class="h5 my-0 me-md-auto fw-normal"></p>
  <nav class="my-2 my-md-0 me-md-3">
    <a class="link-secondary" href="http://localhost:3000/">Главная</a>
    <a class="link-secondary" href="http://localhost:3000/posts">Обучение</a>
    <a class="link-secondary" href="#">Благотворительность</a>
    <a class="link-secondary" href="#">Бонусы</a>
  </nav>


  <%= render 'search/form' %>

  <% if user_signed_in? %>
    <%= link_to 'Аккаунт', current_user, class: "btn btn-outline-primary" %>
    <%= link_to 'Выйти', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
  <% else %>
    <%= link_to 'Вход', new_user_session_path, class: "btn btn-outline-primary me-1 rounded-pill border border-dark" %>
    <%= link_to 'Регистрация', new_user_registration_path, class: "btn btn-outline-primary rounded-pill custom_color" %>
  <% end %>
</header>



<% if notice %>
  <p class="notice"><%= notice %></p>
<% elsif alert %>
  <p class="alert alert-danger" role="alert"><%= alert %></p>
<% end %>

<%= yield %>

<footer class="pt-4 my-md-5 border-top px-md-4 color_footer">
  <div class="row">
    <div class="col-12 col-md">
      <ul class="list-unstyled text-small">
        <li><a class="link-secondary text-light" href="#">О нас</a></li>
        <li><a class="link-secondary text-light" href="#">Присоединиться</a></li>
        <li><a class="link-secondary text-light" href="#">Конфиденциальность</a></li>
        <li><a class="link-secondary text-light" href="#">Наша команда</a></li>
      </ul>
      <small class="d-block mb-3 text-light">© 2021 Фёрстдог</small>
    </div>
    <div class="col-6 col-md">
      <h5>Связаться с нами</h5>
      <ul class="list-unstyled text-small">
        <li><class="link-secondary">+7 906 730 48 46</li>
        <li><class="link-secondary">first@dog.ru</li>
      </ul>
    </div>
    <div class="col-6 col-md">
      <h5>Подписаться на рассылку</h5>
      <%= render 'subscribers/form' %>
    </div>
  </div>
</footer>
</body>
</html>
